body { 
  font-family: "Helvetica Neue", sans-serif;
}

th, td {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2, p {
  color: #002060;
}

h2 {
  font-size: 30px;
}

li {
  margin: 10px;
}

a {
  color: #002060;
  font-size: 15px;
}

button {
  border: none;
  background-color: transparent;
  color: #002060;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  background-color: #F7C7AC;
  padding: 10px;
  text-align: center;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three equal columns that sit next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

.wide-column {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
