<div class="header">
  <h2>{{ title }}</h2>
  <h3 *ngIf="selectedTodoList">{{ selectedTodoList.name }}</h3>
  <table class="headertable">
    <tbody>
      <tr>
        <td><a href="">Create new to do in this list</a></td>
        <td><a href="">Rename list</a></td>
        <td><a href="">Delete list</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="column side">
    <ul class="listselector" *ngIf="todoLists">
      <li class="listselection" *ngFor="let list of todoLists">
        <a href="">{{ list.name }}</a>
      </li>
      <li><a href="">Create new to do list</a></li>
    </ul>
  </div>

  <div class="column right">
    <table *ngIf="selectedTodoList" class="bodytable">
      <thead>
        <tr>
          <th>Todo id</th>
          <th>Description</th>
          <th>Due date</th>
          <th>Important?</th>
          <th>Complete?</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of selectedTodoList.todos; let i = index" [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}">
          <td>{{ todo.todoId }}</td>
          <td>{{ todo.description}}</td>
          <td>{{ todo.dueDate | date:'fullDate' }}</td>
          <td>{{ todo.isImportant | boolYesNo }}</td>
          <td>{{ todo.isComplete | boolYesNo }}</td>
          <td><a href="">Mark complete/incomplete</a></td>
          <td><a href="">Update</a></td>
          <td><a href="">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
