* {
  box-sizing: border-box;
  font-family: Calibri;
}

h2 {
  font-size: 60px;
  color: darkslateblue;
}

h3 {
  font-size: 50px;
  color: steelblue;
}

td, th {
  padding: 15px;
}

a, th {
  font-size: 18px;
}

td, td > a {
  font-size: 16px;
}

tr.even-row {
  background-color: white;
}

tr.odd-row {
  background-color: #ffdccc;
}

table.headertable {
  margin: auto;
}

table.bodytable > thead > tr {
  background-color: #ffaa80;
}

ul.listselector {
  list-style-type: none;
  margin: auto;
  padding-left: 0;
}

li.listselection {
  margin: 0px 0px 15px 0px;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create two unequal columns that sit next to each other */
.column {
  padding: 10px;
}

  /* Left column */
  .column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  /* Right column */
  .column.right {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
